<div>
  <form action="/favourites" method="post">
    <input
      type="submit"
      value="Add to favourites"
      class="bg-green-600 hover:bg-green-700 text-white px-4 py-3 rounded-lg font-bold transition"
    />
    <input type="hidden" name="id" value="<%= home._id %>" />
  </form>
</div>
